.rectangle {
  background: #f9fafb;
  border-radius: 10px;
  padding: 24px 24px 24px 24px;
}

.inner {
  max-width: 100%;
}

.sectionTitle {
  color: #111827;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin: 16px 0 8px;
}

.subHeader {
  color: #111827;
  font-weight: 700;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.fieldGroup {
  width: 100%;
  max-width: 600px;
  margin-bottom: 16px;
}

.label {
  color: #111827;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.inputFrame {
  background: #ffffff;
  border: 2px solid #d0d5dd;
  border-radius: 6px;
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  appearance: none;
  border: none;
  outline: none;
  flex: 1 1 auto;
  padding: 0;
  height: 100%;
  font-size: 14px;
  color: #111827;
  background: #ffffff !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.input::placeholder {
  
  color: #101928;
  font-family: "Samsung InterFace", "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
